<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505981403016-4hti431i221ev62t8k6jv22o1uea96do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505981403016-4hti431i221ev62t8k6jv22o1uea96do</string>
	<key>API_KEY</key>
	<string>AIzaSyCXZw37FBlbiNW5QuP9s82AUY4divufvg4</string>
	<key>GCM_SENDER_ID</key>
	<string>505981403016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TrueFood</string>
	<key>PROJECT_ID</key>
	<string>truefood-6e057</string>
	<key>STORAGE_BUCKET</key>
	<string>truefood-6e057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505981403016:ios:358e8011e6c2abd7ef843d</string>
	<key>DATABASE_URL</key>
	<string>https://truefood-6e057.firebaseio.com</string>
</dict>
</plist>